Description=Service for ECUI Webserver

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=node /home/pi/TXV_ECUI_WEB/server.js
WorkingDirectory=/home/pi/TXV_ECUI_WEB/
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target