    .square {
        height: 100%;
        width: 100%;
        border: none;
    }
    .triangle {
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        border-top: 25px solid transparent;
        border-left: 50px solid #ce9822;
        border-bottom: 25px solid transparent;
    }
    .half-oval {
      height: 20%;
      width: 100%;
      background-color: #555;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
    }
    .valve
    {
        position: relative;
        width: 200px;
        height: 100px;
        box-sizing: content-box;
    }
    .valve:before,
    .valve:after {
        content: "";
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        border-top: 50px solid transparent;
        border-left: 100px solid #555;
        border-bottom: 50px solid transparent;
        transform: rotate(0deg);
    }
    .valve:after {
        left: auto;
        right: 0;
        transform: rotate(180deg);
    }
    .line {
        width: 0px;
        height: 50%;
        border-left: 3px solid #555;
    }
    .circle-hollow {
        width: 30%;
        height: 30%;
        border: 3px solid #555;
        border-radius: 50%;
    }
    .square-hollow {
        width: 30%;
        height: 30%;
        border: 3px solid #555;
    }
    .trapezoid {
        border-bottom: 70px solid #555;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 100%;
    }
    .abs {
        position: absolute;
    }
    .anchor-center {
        -webkit-transform: translate(-50%, -50%);
    }
    .mirror {
        transform: scaleX(-1);
    }
    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pnid-input {
        text-align: center;
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 1.3rem;
    }
    #pnid {
        /*background-image: url("../img/P&ID Small Test Stand.vpd.png");*/
        background-repeat: no-repeat;
        background-size: 1103px 762px;
        background-position: center;
    }
    .pnid-container {

    }