body, html {
    height: 100%;
}

.tab-content {
    height: 70%;
}

body {
    font: 13px Helvetica, SansSerif;
    background-color: white;
    color: #303030;
    margin-top: 0px;
}

#disableAll {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: #9C9C9C;
    opacity: 0.5;
}

form input {
    border: 0;
    padding: 10px;
    border: solid;
}

#statusBar {
    font-size: 1rem;
    font-weight: bolder;
    height: 1.4rem;
    padding-left: 2rem;
    padding-top: 0.3rem;
}

#errorBar {
    display: none;
    position: relative;
    z-index: 1002;
    font-size: 1.5rem;
    font-weight: bolder;
    height: auto;
    padding: 1rem 2rem;
}

.master-client-controls {
    margin-left: auto;
    margin-top: auto;
    margin-right: 1rem;
	height: 10rem;
}

#masterRequest {
    margin-left: auto;
	background: #522E63;
	color: white;
	border-radius: 4px;
    border: none;
    padding: 6px;
}

#masterLock {
	margin-top: 1rem;
	margin-bottom: 10px;
	text-align: right;
}

#masterRequest {
	margin-top: 0.5rem;	
}

#masterLock, #masterRequest {
	height: 2.1rem;
	
}

.master-only {
    visibility: hidden;
    height: 0;
}

.client-only {
    visibility: visible;
}
#commentTextbox {
    width: 100%;
}

#commentDiv {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.content {
    height: 100%;
}

#checklistCol {
    border-left: 1px solid #C0C0C0;
    margin-right: 2rem;
    overflow: auto;
    height: 25rem;
}

.accordion {
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-left: 2rem;
}

.card {
    padding-bottom: 20px;
    border: none;
}

.card-header {
    transition: 250ms;
    border: 1px solid #F0F0F0;
    background-color: #522e63;
}

.card-header:hover {
    transition: 250ms;
    background-color: #714187;
}

.card-body {
    background-color: #F0F0F0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.btn-link:hover {
    color: white;
    text-decoration: none;
}

.ckbx {
    transform: scale(2) !important;
    top: 25%;
    margin-top: 0px;
}

.ckbx-label {
    padding-left: 1rem;
    margin-right: 1rem;
}

.digitalOut-div {
    margin-left: -0.1rem;
}

div#servo-container > button {
    margin-top: 1.3rem;
}

#sequenceChart {
    width: 80%;
    height: 400px;
}

.sensorChart {
    width: 30%;
    height: 200px;
    display: inline-block;
}

.sequence-fluid
{
    height: 100%;
}

#myTab {
    height: 2rem;
}

#myTabContent
{
    padding-bottom: 4rem;
}

#titleBar {
	margin-top: 0rem;
	margin-bottom: -1rem;
	display: flex;
	align-items: center;
	width: 100%;
    font-weight: lighter;
	height: 5rem;
}

hr {
    margin: 0rem;
}

#title {
   margin-top: 1.4rem;
   margin-left: 1rem;
   font-size: 1.8rem;
 }

#subtitle {
   margin-top: 1.8rem;
   margin-left: 1rem;
   font-size: 1rem;
 }

.tab-button.active {
    background-color: #522e63 !important;
}

.tab-button, .tab-button:hover {
    color: #522e63;
}

#servo-container, #calibration-container {
    display: block !important;
    margin-left: 40px;
    font-family: sans-serif;
    padding: 0px 20px 0px 60px;
    width: 80%;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0rem;
    left: -1.4rem;
    width: 1.5rem;
    height: 1.5rem;
}

.input-label {
    font-size: 1rem;
    width: 100%;
    margin: 0;
}

.servo-util-label {
   font-size: 16px;
}

.range-table-col {
   text-align: center;
}

.ecui-select {
    width: 100%;
    height: 2.4rem;
}

.btn-secondary {
    background: #522e63;
    /* margin-top: 20px; */
}

.btn-secondary:hover {
    background-color: #714187;
}

.btn-radio {
    background: #656565 !important;
}

.btn-radio.active {
    background: #522e63 !important;
}

#timer {
    margin-top: 20px;
}

#versionLabel {
    margin-top: 8px;
    font-size: 1rem;
	float: right;
}

.header {
    height: 80px;
}

.spinner {
    margin-top: -0.55rem;
}

.cal-btn {
    width: 7rem;
    margin-right: 1rem;
}

.cntl-btn {
    width: 6rem;
    margin-right: 1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #522e63;
    background-color: #522e63;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#messages {
    margin-bottom: 40px
}

.minLabel {
    text-align: left;
}

.maxLabel {
    text-align: right;
}

.minLabel, .maxLabel {
    font-weight: lighter;
}

.centerLabel {
    text-align: center;
}

.calLabel-container {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

#sendPostSeqCommentButton
{
    margin-right: 2rem;
}

#modal-output-name
{
    color: #522e63;
    font-weight: bold;
}

#command-container
{
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.command
{
    width: 100%;
}

/* .spinner-disable::-webkit-outer-spin-button,
.spinner-disable::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin:0;
}

.spinner-disable[type=number] {
    -moz-appearance:textfield; 
} */