/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../lib/fonts/montserrat-v24-latin-regular.woff2') format('woff2'); /* Super Modern Browsers */
    src: url('../lib/fonts/montserrat-v24-latin-regular.woff') format('woff'); /* Modern Browsers */
    src: url('../lib/fonts/montserrat-v24-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../lib/fonts/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
}

body, html {
    height: 100%;
}

.tab-content {
    height: 70%;
}

body {
    font: 13px Montserrat, Helvetica, SansSerif;
    background-color: var(--background-primary);
    color: var(--content-primary);
    margin-top: 0px;
}

#disableAll {
    display: none;
    z-index: 1001;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: var(--background-secondary);
    opacity: 0.5;
}

form input {
    border: 0;
    padding: 10px;
    border: solid;
}

.nav-item {
    padding-left: 3px;
    padding-right: 3px;
}

.warning-bar {
    font-size: 1rem;
    font-weight: bolder;
    height: 1.4rem;
    padding-left: 2rem;
    padding-top: 0.15rem;
    background-color: var(--warning-color);
    color: black;
}

#errorBar {
    display: none;
    position: relative;
    z-index: 1002;
    font-size: 1.5rem;
    font-weight: bolder;
    height: auto;
    padding: 1rem 2rem;
}

.navbarRightAlign {
    margin-left: 1rem;
    margin-top: auto;
    margin-right: 1rem;
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.titleBarButton {
    margin-left: auto;
	background: var(--accent-primary);
	color: white;
	border-radius: 4px;
    border: none;
    padding: 6px;
}

#ecui-commands-popup {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    border-radius: 0.3em;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 15px black;

    padding: 0.5em;

    z-index: 10;
}

#masterLock {
	text-align: right;
}

.titleBarButton {
	margin-top: 0.5rem;	
}

.titleBarButton {
	height: 2.1rem;
	
}

.master-only {
    display: none;
}

.client-only {
    display: block;
}
#commentTextbox {
    width: 100%;
}

#commentDiv {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.content {
    height: 100%;
}

#checklistCol {
    margin-right: 2rem;
    overflow: auto;
    height: 25rem;
}

#commandSearch {
    margin-bottom: 0.5rem;
    background-color: var(--background-secondary) !important; /*this will probably have to be moved to bootstrap override. or maybe not if it's not widely applicable enough?*/
}

#command-list.search-results > .card {
    display: none;
}

.result-category {
    display: unset !important;
}

#command-list.search-results > .result-category li.list-group-item {
    display: none;
}

.result-command {
    display: block !important;
}

.accordion {
    border-style: none;
    background-color: transparent;
    box-shadow: none;
}

.accordion > .card {
    background-color: var(--background-secondary);
    border-bottom: 1px;
}

.accordion > .card:not(:last-of-type) {
    border-bottom: 1px !important;
    border-style: none none solid none !important;
    border-color: var(--background-primary) !important;
}

.card {
    border: none;
}

.card-header {
    transition: 250ms;
    border: 1px solid var(--background-secondary);
    border-radius: inherit;
    background-color: inherit;
}

.card-header:first-child {
    border-style: none;
}

.card-header:hover {
    transition: 250ms;
    background-color: var(--accent-hover);
}

.card-body {
    background-color: var(--background-secondary);
}

.list-group-item {
    background-color: var(--background-primary);
    transition: background-color ease-in-out 0.1s;
}

.list-group-item:hover {
    background-color: var(--background-secondary);
    transition: background-color ease-in-out 0.2s;
}

.input-group-text {
    color: var(--content-primary);
    background-color: var(--background-secondary);
    border-color: #6c757d; /*todo: this is hardcoded to fit btn-outline-secondary from bootstrap. once bootstrap overrides are properly implemented move this to a variable*/
}

.input-group {
    z-index: 0;
}

.footer {
    position: absolute;
    bottom: 0;
}

.btn-link {
    color: var(--content-primary);
    text-decoration: none;
}

.card-header .btn-link {
    color: var(--content-primary);
}

.card-header:hover .btn-link {
    color: var(--accented-text);
}

.btn-link:hover {
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
}

.ckbx {
    transform: scale(2) !important;
    top: 25%;
    margin-top: 0px;
}

.ckbx-label {
    padding-left: 1rem;
    margin-right: 1rem;
}

.digitalOut-div {
    margin-left: -0.1rem;
}

div#servo-container > button {
    margin-top: 1.3rem;
}

#sequenceChart {
    width: 100%;
    height: 1000px;
}

#sequenceChart text {
    fill: var(--content-primary);
}

.sensorChart {
    width: 30%;
    height: 200px;
    display: inline-block;
}

.sequence-fluid
{
    height: 100%;
}

#myTab {
    height: 1.5rem;
}

#myTab .nav-link {
    padding: 0.28rem 1rem;
}

#myTabContent
{
    padding-bottom: 4rem;
}

.flex-spacer {
    flex-grow: 1;
}

#titleBar {
    width: 100%;
    height: 6rem;

    margin-top: 0rem;
    margin-bottom: -1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    display: flex;
    align-items: center;
    font-weight: lighter;
    gap: 0.5rem;
}

#title-container {
}

hr {
    margin: 0rem;
}

#title {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

#subtitle {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.tab-button.active, .titleBarButton.active {
    color: var(--accented-text);
    background-color: var(--accent-active) !important;
}

.tab-button {
    color: var(--content-primary);
    border-color: var(--background-secondary);
}

.tab-button:hover {
    color: var(--accented-text);
    background-color: var(--accent-hover);
}

#servo-container, #calibration-container {
    display: block !important;
    margin-left: 40px;
    font-family: sans-serif;
    padding: 0px 20px 0px 60px;
    width: 80%;
}

.custom-control-label::before,
.custom-control-label::after {
    top: 0rem;
    left: -1.4rem;
    width: 1.5rem;
    height: 1.5rem;
}

.input-label {
    font-size: 1rem;
    /*width: 100%;*/
    margin: 0;
}

.servo-util-label {
   font-size: 16px;
}

.range-table-col {
   text-align: center;
}

.ecui-select {
    width: 100%;
    height: 2.4rem;
}

.btn-secondary {
    background: var(--accent-primary);
    border: none;
    /* margin-top: 20px; */
}

.btn-secondary:hover {
    background-color: var(--accent-hover);
    border: none;
}

.btn-secondary:disabled, .btn-secondary[disabled] {
    background-color: var(--background-tertiary);
    border: none;
}

.btn-radio {
    background: var(--background-tertiary) !important;
}

.btn-radio.active {
    background: var(--accent-active) !important;
}

#timer {
    align-self: start;
    margin-top: 0.6rem;

    font-size: 3em;

    user-select: none;
}

#versionLabel {
    font-size: 0.8rem;
	float: right;
    margin-bottom: 0px;
}

.header {
    height: 80px;
}

.spinner {
    margin-top: -0.55rem;
}

.cal-btn {
    width: 7rem;
    margin-right: 1rem;
}

.cntl-btn {
    width: 6rem;
    margin-right: 1rem;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: var(--accented-text);
    border-color: var(--accent-primary);
    background-color: var(--accent-primary);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: var(--background-secondary);
}

#messages {
    margin-bottom: 40px
}

.minLabel {
    text-align: left;
}

.maxLabel {
    text-align: right;
}

.minLabel, .maxLabel {
    font-weight: lighter;
}

.centerLabel {
    text-align: center;
}

.calLabel-container {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

#sendPostSeqCommentButton
{
    margin-right: 2rem;
}

#modal-output-name
{
    color: var(--accent-primary);
    font-weight: bold;
}

#command-container
{
    width: auto;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
}

.textbox
{
    color: var(--content-primary);
    background-color: var(--background-secondary);
    border-color: var(--content-secondary);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.command
{
    width: 100%;
}

.pnid-container
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.parameter-group input
{
    border: 1px solid #6C757C !important;
}

/* .spinner-disable::-webkit-outer-spin-button,
.spinner-disable::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin:0;
}

.spinner-disable[type=number] {
    -moz-appearance:textfield; 
} */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent-primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-primary);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
